



/* 封装jd精灵图 */
$jdred: #c91523;

@mixin jdSprites($x,$y) {
    background-image: url("../images/jd-sprites.png");
    background-size: 200px 200px;
    background-position: $x $y;
}

@mixin common_title(){
    color:$jdred;
    margin:10px 5px;
}

.view{
    padding-bottom:88px;
}
.banner{
    margin:5px;
}

header{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: $jdred;
    height: 40px;
    display: flex;
    .logo{
        width: 70px;
        height: 40px;
        @include jdSprites(0,-110px);
        background-origin: content-box;
        background-clip: content-box;
        padding:10px 5px;
    }
    .login{
        width: 50px;
        color:#fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        height: 40px;
    }
    .search{
        flex:1;
        padding: 5px 0;
        position: relative;
        &::after{
            content:"";
            @include jdSprites(-60px,-110px);
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            left: 7px;
            display: block;

        }
        > input{
            padding-left:25px;
            padding-right: 20px;
            border-radius: 20px;
            width: 100%;
            height: 100%;
        }
    }
}

.slides{
    // .swiper-container{
    //     width: 100%;
    //     height: 632px;
    //     .swiper-wrapper{
    //         >li{
    //             float: left;
    //         }
    //     }
    // }
      
}

.nav{
    color: #666;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    a{
        padding:10px 0px;
        width: 25%;
        text-align: center;
        img{
            width: 50%;
        }
        p{
            font-size: 14px;
        }
    }
}

.kill{
    .kill_title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:0 20px;

        .clock{
            font-size: 14px;
            width: 18px;
            height: 22px;
            @include jdSprites(-85px,-110px);
        }
        
        .kill_font{
            font-size: 16px;
            color: $jdred;
        }
        > .timer{
            font-size: 0;
            display: block;
            font-size: 0px;
            color:#fff;
            >span{
                font-size:14px;
                padding: 0px 2px;
                margin-right: 4px;
                background-color: #3d3d3d;
            }
            > span:nth-child(3n){
                background-color: #fff;
                color:#000;
            }
        }

        > a{
            font-size: 14px;
            color:#666;
        }
    }

    .kill_content{
        display: flex;
        a{
            width: 33.33%;
            position: relative;
            text-align: center;
            font-size: 14px;
            
            span{
                text-align: center;
                line-height: 28px;
                font-size: 14px;
                display: block;
                width: 45px;
                height: 28px;
                border-radius: 50%;
                background-color: #fdb60a;
                color:#fff;
                position: absolute;
                bottom: 58px;
                right:12px;
            }
            .new_price{
                color:$jdred;
            }
        }
    }
}

.festival{
   .fes_title{
    position: relative;
       >.fes_container{
           width: 100%;
       }
       >.fes_goods{
            position: absolute;
            bottom:0px;
            left:0px;
            img{
                float: left;
            }
            img:nth-child(1){
                width: 50%;
            }
            img:nth-last-child(-n+2){
                width: 50%;
            }
       }
      
   }

   .fes_content{
       >a{
        float:left;
       }
       > a:nth-child(-n+3){
           width: 33.3333%;
       }
       > a:nth-last-child(-n+4){
           width: 50%;
       }
   }
}


.supermarket{
    >.supermarket_title{
        >h2{
          @include common_title();
        }
    }

    > .content{
       li{
           float:left;
           width: 50%;
       }
       li:nth-child(4){
           clear: both;
       }
    }
}

.theme{
    > .th_title{
        > h2{
            @include common_title();
        }
    }

    > .th_content{
        > a{
            float: left;
            width: 25%;
        }
        > a:nth-child(-n+2){
            width: 50%;
        }
        > a:nth-child(5){
            clear: both;
        }
    }
}

.recommend{
    >.re_title{
        h2{
            @include common_title();
        }
    }
    >.recommend_content{
        display: flex;
        >a:nth-child(1){
            flex:4;
        }
        >a:nth-last-child(-n+2){
            flex:3;
        }
    }
}

.guess{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    >a{        
        margin:10px 0;                                                                                                                                                                                                               
        width: 50%;
        
        >.gu_title{
            display: flex;
            justify-content: space-between;
            >.gu_price{
                color:$jdred;
                font-style: 14px;
            }
            >.gu_same{
                color:#666;
                border: 1px solid #ccc;
            }
        }

        >.gu_content{
            width: 85%;
            >img{
               
            }
            >p{
                font-size:14px;
                height: 40px;
                overflow: hidden;
                border-bottom: 1px solid #666;
            }
        }
    }
}

.btm_tool{
    background-color: #f3f5f7;
    border:1px solid #ccc;
   
    >*{
        border-top:1px solid #ccc;
    }
    .more{
        text-align: center;
        // border:1px solid #ccc;
        padding: 10px 0;
        font-size: 14px;
    }
    .ft_nav{
        // border:1px solid #ccc;
        display: flex;
        padding:10px 0;
        >a{
            
            text-align:center;
            flex:1;
            border-right:1px solid #666;
            &:nth-last-child(1){
                border-right:none;
            }
        }
        
    }

    .btm_devices{
        display: flex;
        // border:1px solid #ccc;
        >a{
          flex: 1;
          padding: 10px 0;
          text-align: center;
          >span{
            display: inline-block;
            width: 33px;
            height: 33px;
            @include jdSprites(-120px,-70px);
          }
        }
      }
      .btm_copyright{
        text-align: center;
        padding: 15px 0;
        font-size: 14px;
      }
}

footer{
    display: flex;
    justify-content: space-around;
    position: fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    background-color: #fff;
}

